<div id="title">
  <h1>
    FX Calculator
  </h1>  
</div>

<div id="form">
  <form method="post">
    Date:
    <select name="date" required="true"  />
    <% @dates.each_pair do |key, value| %>
    <option value="<%= key %>"> <%= value %> </option>    
    <% end %>
  </select>
  <p><input type="submit" name="next" value="Next"></p>
</form>
</div>